* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

p{
    font-size: 12px;
}

.title-section{
    margin-left: 15px;
    font-size: 24px;
    margin-top: -19.92px;
    padding-top: 60px;

}

.title-section2{
    font-size: 24px;
    margin-top: 50px;
    margin-left: 15px;
}

.product-description{
    font-size: 16px;
    margin-left: 15px;
}

.discounts {
    font-size: 16px;
    margin-left: 15px;
}

.prices {
    font-size: 18px;
    margin-left: 15px;
}

header{
    background-color: #eac926;
    width: 100%;
}

.nav-link{
    padding-left: 2%;
}

a{
    color: black;
    font-size: 12px;;
    text-decoration: none;
}

.logo img{
    width: 120px;
    margin: 20px;
}

.banner img{
    width: 100%;
}

#message{
    text-align: center;
}

.products img{
    width: 90%;
}

.burger-menu{
    width: 40px;
    height: 40px;
    color: #ebebeb;
    background-color: #1259c3;
    margin: auto;
    text-align: center;
    border-radius: 10%;
    font-size: 20px;
}

.burger-menu i{
    margin: 10px;
}

main{
    background-color: #ebebeb;
    padding-bottom: 15px;
}

footer{
    text-align: center;
    margin: 50px;
}

.independiente p{
    margin-top: 1%;
    line-height: 90%;
    margin-bottom: 25%;
    color: #666666;
}

.independiente h4{
    margin-bottom: 1%;
    margin-top: 5%;
    color: #666;
}

.independiente i{
    font-size: 2em;
    color: #1259c3;
}

.copyright{
    margin-left: 15px;
    color: #666;
}

div.logo{
    display: inline-block;
    width: 160px;
    height: 71.188px;
}

.search-bar{
    margin-left: 5px;
    margin-right: 200px;
    background-color: whitesmoke;
    border: solid black 1px;
}

.search-bar i{
    margin-left: 60px;
}

