* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

p{
    font-size: 12px;
}


header{
    background-color: #eac926;
    width: 100%;
}

.nav-link{
    padding-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 13px;
}

a{
    color: black;
    font-size: 12px;;
    text-decoration: none;
}

.logo img{
    width: 150px;
    margin: 20px;
}

.banner img{
    width: 100%;
}

#message{
    text-align: center;
    margin: 20px 0px;
}

#message i{
    padding-right: 5px;
}


.burger-menu{
    width: 40px;
    height: 40px;
    color: #ebebeb;
    background-color: #1259c3;
    margin: auto;
    margin-top: 20px; margin-bottom: 16px;
    text-align: center;
    border-radius: 10%;
    font-size: 20px;
}

.burger-menu i{
    margin: 10px;
}



/* div.logo{
    display: inline-block; 
    width: 160px;
    height: 71.188px;
} */

.search-bar{
    margin-left: 5px; margin-right: 5px;
    padding-right: 100px;
    background-color: whitesmoke;
    border: solid black 1px;
}

.search-bar-cont i{
    border: solid black 1px;
    background-color: whitesmoke;
    padding: 1.5px;
    border-radius: 10%;
}

main{
    margin: auto;
    width: 90%;
    background-color: #ebebeb;
    padding-bottom: 5%;
}

.title-section{
    margin-left: 15px;
    font-size: 24px;
    /* margin-top: -19.92px; */
    padding-top: 40px;
    width: 90%;
    color: #666;
    font-weight: bolder;
    
}

.title-section2{
    width: 90%;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 15px;
    color: #666;
}

.product-description{
    font-size: 16px;
    margin-top: 10px;
    color: #666;
    margin-bottom: 10px;
    /* margin-left: 15px; */
}

.discounts {
    font-size: 16px;
    margin-top: 0px;
    color: #39b54a;
    /* margin-left: 15px; */
}

.prices {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 1px;
    /* margin-left: 15px; */
}

.products{
    background-color: #ebebeb;
}

.products img{
    width: 100%;
    /* margin-left: 5%; */
}

.product-info{
    background-color: white;
    /* margin-left: 5%; margin-right: 5%; */
    /* padding: 5px 20px; */
    padding: 15px;
}

.product-info i{
    width: 2.5em;
    height: 2.5em;
    border: solid #39b54a 1px;
    /* padding: 10px; */
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 4px;
    text-align: center;
    border-radius: 100%;
    background-color: white;
    color: #39b54a;
}

article{
    margin-bottom: 10px;
    margin-left: 5%; margin-right: 5%;
}


footer{
    text-align: center;
    margin: 50px;
}

.independiente p{
    margin-top: 1%;
    line-height: 90%;
    margin-bottom: 25%;
    color: #666;
}

.independiente h4{
    margin-bottom: 1%;
    margin-top: 5%;
    color: #666;
}

.independiente i{
    font-size: 2em;
    color: #1259c3;
}

.copyright{
    margin-left: 15px;
    color: #666;
}

@media (max-width: 360px){
    .product-description{
        display: none;
    }
    header .nav-link{
        display: none;
    }
}

@media (min-width: 361px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){

}

